@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


.bg-light{
    background: linear-gradient(#ecf0f1, #bdc3c7);
    height: 100vh;
    color: #000;
}

.bg-dark{
    background: linear-gradient(#636e72,#2d3436);
    height: 100vh;
    color: #fff;
}

.mt-n4{
    margin-top: -1.5rem;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Lobster', cursive;
}

.icones>a>i{
    font-size: 2rem;
}

.footer-cell{
    color: white;
    font-family: 'Lobster', cursive;
    font-size: 1.5rem;
}

.footer-pc{
    font-family: 'Lobster', cursive;
    font-size: 1.5rem;
}

.color-button{
    color:darkred;
}

